<!-- this is the upper navigation panel -->
<header id="page_header">
	<%= link_to image_tag("new_coregion_banner.png", :title => "", :class => ""), {:controller => 'pages', :action => 'home'} %>
	<nav>
		<table>
			<tr><!-- items in this table are listed by row.  this is the heading row -->
				<th>club info</th><th>club racing</th><th>other</th><th>events</th><th>volunteers</th><th>talk</th><th>store</th>
			</tr>
			<tr>
				<td><%= link_to 'region contacts', {:controller => 'pages', :action => 'contacts'} %></td> <!-- club info 1 -->
				<td><%= link_to 'get started', {:controller => 'pages', :action => 'getstarted'} %></td><!-- club racing 1 -->
				<td><%= link_to 'solo (autocross)', {:controller => 'pages', :action => 'solo'} %></td> <!-- other 1 -->
				<td><%= link_to 'schedule', {:controller => 'pages', :action => 'schedule'} %></td> <!-- schedule 1 -->
				<td><%= link_to 'vip program', {:controller => 'pages', :action => 'vip'} %></td> <!-- volunteers 1 -->
				<td><%= link_to 'email notification', {:controller => 'pages', :action => 'emailnotification'} %></td> <!-- talk 1 -->
				<td><%= link_to 'clothing', {:controller => 'pages', :action => 'clothing'} %></td> <!-- store 1 -->
			</tr>
			<tr>
				<td><%= link_to 'board of directors', {:controller => 'pages', :action => 'regionboard'} %></td> <!-- club info 2 -->
				<td><%= link_to 'rules, forms', {:controller => 'pages', :action => 'rulesforms' } %></td> <!-- club racing 2 -->
				<td><%= link_to 'rally cross', {:controller => 'pages', :action => 'rallycross'} %></td> <!-- other 2 -->
				<td><%= link_to 'registration', {:controller => 'pages', :action => 'registration'} %></td> <!-- schedule 2 -->
				<td><%= link_to 'awards', {:controller => 'pages', :action => 'corawards'} %></td> <!-- volunteers 2 -->
				<td><%= link_to 'region forums', {:controller => 'pages', :action => 'forums'} %></td> <!-- talk 2 -->
				<td><%= link_to 'hats', {:controller => 'pages', :action => 'hats'} %></td> <!-- store 1 -->
			</tr>
			<tr>
				<td><%= link_to 'region bylaws', {:controller => 'pages', :action => 'bylaws'} %></td> <!-- club info 3 -->
				<td><%= link_to 'race officials', {:controller => 'pages', :action => 'raceofficials'} %></td> <!-- club racing 3 -->
				<td><%= link_to 'time trials', {:controller => 'pages', :action => 'timetrials'} %></td> <!-- other 3 -->
				<td><%= link_to 'spectators', {:controller => 'pages', :action => 'spectators'} %></td> <!-- schedule 3 -->
				<td><%= link_to 'rmsidewinders', "http://rmsidewinders.heroku.com/sidewinders", :target => 'blank' %></td> <!-- volunteers 3 -->
				<td><%= link_to 'redline newsletter', {:controller => 'pages', :action => 'redline'} %></td> <!-- talk 3 -->
				<td><%= link_to 'bottles', {:controller => 'pages', :action => 'bottles'} %></td> <!-- store 1 -->
			</tr>
			<tr>
				<td><%= link_to 'region meetings', {:controller => 'pages', :action => 'meetings'} %></td> <!-- club info 4 -->
				<td><%= link_to 'event results', {:controller => 'pages', :action => 'results'} %></td> <!-- club racing 4 -->
				<td><%= link_to 'p. d. x.', {:controller => 'pages', :action => 'pdx'} %></td> <!-- other 4 -->
				<td><%= link_to 'division tracks', {:controller => 'pages', :action => 'tracks'} %></td> <!-- schedule 4 -->
				<td><%= link_to 'specialties', {:controller => 'pages', :action => 'specialties'} %></td> <!-- volunteers 4 -->
				<td><%= link_to 'rss feed', {:controller => 'pages', :action => 'rssfeed'} %></td> <!-- talk 4 -->
				<td><%= link_to 'all', {:controller => 'pages', :action => 'allstore'} %></td> <!-- store 1 -->
			</tr>
		</table>
	</nav> 
</header>